# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Audio files
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.m4a

# Data directories
data/
klanger-v0.0-test-data/

# IDEs
.vscode/
.idea/